*.pyc
__pycache__/LichessProject.cpython-39.pyc
__pycache__/AnalysisAlgorithms.cpython-39.pyc~Stashed changes
__pycache__/AnalysisAlgorithms.cpython-39.pyc
__pycache__/Game.cpython-39.pyc
__pycache__/Game.cpython-39.pyc~Stashed changes
__pycache__/AnalysisAlgorithms.cpython-39.pyc
__pycache__/Game.cpython-39.pyc
__pycache__/LichessProject.cpython-39.pyc
*.pyc
