* {
    color: #fff;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #121212;
}

label {
    color: #000;
}

option {
    color: #000;
}
