<!DOCTYPE HTML>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Lichess Lookup</title>
</head>

<body>
    <div class="jumbotron d-flex align-items-center vh-100">
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 bg-primary pt-3 pb-3 rounded">
                    <form method="POST">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" aria-describedby="usernameHelp">
                            <label for="username">Username</label>
                            <div id="usernameHelp" class="form-text text-light">Insert a valid Lichess username</div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="numGames" name="numGames" placeholder="Number of games to query">
                            <label for="numGames">Number of games to query</label>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>